.cuadrado {
  color: white;
  background-color: black;
  width: 500px;
  height: 400px;
}

.card-group {
  justify-content: space-around;
}

h1 {
  text-align: center;
}

#mensaje {
  margin-bottom: 20px;
  text-align: center;
}

#productos {
  list-style-type: none;
  padding: 0;
}

#productos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.agregar-carrito {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.agregar-carrito:hover {
  background-color: #45a049;
}

#carrito {
  list-style-type: none;
  padding: 0;
}

#carrito li {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

#mensaje {
  margin-bottom: 20px;
  text-align: center;
}

#productos {
  list-style-type: none;
  padding: 0;
}

#productos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.agregar-carrito {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.agregar-carrito:hover {
  background-color: #45a049;
}

#carrito {
  list-style-type: none;
  padding: 0;
}

#carrito li {
  margin-bottom: 10px;
}

.claro{
  background-color: #ffffff !important;
  color: #000000 !important;
}

.oscuro{
  background-color: #000000 !important;
  color: #ffffff !important;
}

/* usuario */

.columna {
  text-align: center;
}

.foto-perfil {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.lista-cursos,
.enlaces-adicionales {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.lista-cursos li,
.enlaces-adicionales li {
  margin-bottom: 10px;
}

.lista-cursos li a,
.enlaces-adicionales li a {
  text-decoration: none;
}

.border-5 {
  border-width: 5px !important;
}

/* boton mi cuenta navbar */

.dropdown-menu-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

